
@font-face {
    font-family: 'arimo-bold';
    src: url('../fonts/arimo/arimo-bold-webfont.woff') format('woff');
}


@font-face {
    font-family: 'arimo';
    src: url('../fonts/arimo/arimo-regular-webfont.woff') format('woff');
}

.main-container{
	margin: 50px auto;
	margin-left: %;

}

.main-container table thead tr th{
	   font-family: 'arimo-bold';
	    font-size: 13px;	
}	
}

.main-container table tbody tr td{
	   font-family: 'arimo';
	   font-size: 12px;	
}


/* https://elvery.net/demo/responsive-tables/ */
/* @media only screen and (max-width: 780px) { */

@media (max-width: 768px){
	#unseen table td:nth-child(4),
	#unseen table th:nth-child(4),
	#unseen table td:nth-child(7),
	#unseen table th:nth-child(7),
	#unseen table td:nth-child(2),
	#unseen table th:nth-child(2) {display: none;}
}
 
/*@media only screen and (max-width: 640px) {
	#unseen table td:nth-child(4),
	#unseen table th:nth-child(4),
	#unseen table td:nth-child(7),
	#unseen table th:nth-child(7),
	#unseen table td:nth-child(8),
	#unseen table th:nth-child(8){display: none;}
}*/