@font-face {
    font-family: 'Dincond';
    src: url('../css/fonts/dincond-regular-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
#contract{
	border: 3px solid rgb(226, 233, 235);
	text-align: center;
	resize: none;	
}

textarea#contract-content{
	border: 1px solid #A6B3D1;
	width: 95%;
	margin-left:5%;
	height: 200px;
	resize: none;
	outline: none;
}
div#contract-content{
	border: 1px solid #A6B3D1;
	width: 95%;
	margin-left:5%;
	height: 200px;
	resize: none;
	outline: none;
	overflow-y: scroll;
	text-align: justify;
	padding-right: 10px;
}
#welcomeText, #welcomeName, #point{
	display:inline;
}
.ui-widget-header {
    height: 60px !important;
}
.ui-button-text{
	font: 25px Dincond, sans-serif;
	color:#212d78;
}
.ui-header-text{
	font: 27px Dincond,sans-serif;
	color: #FFF;
	padding: 12px;
}
.ui-infoText{
	font: 15px Calibri,sans-serif;
	color: #333;
	height: 25px;
	padding: 3px;
}
#headerEnrollment{
	background-color: #212d78; 
	width: auto;
	height: 39px;
}
.right{
	float:right;
}
.left{
	float:left;
}
#panels{
	width: auto;
	margin:0;
	border:0;
}
.ui-tabs-panel{
	position: relative;
}
.ui-custom-content{
	position: relative;
	margin:10px;
	border: 1px solid rgb(226, 233, 235);
	padding: 10px 25px;
	overflow: hidden;
}
/* Wizard Buttons */
#wizard-buttons 
{
	width: 182px;
	height: auto;
	padding: 10px;
	margin: 0 auto;
	clear: both;
}
#wizard-buttons a 
{
	display:block;
	float:left;
	color:#000;
	background:url('../css/images/ui-greyButton.png') no-repeat center;
	width: 91px;
	height: 50px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}


#btnOk{
	background:url('../css/images/ui-blueButton.png') no-repeat center !important;
	color:#FFF !important;

}

/* Wizard tabs */
#tabs-div{
	font: 15px Calibri,sans-serif;
}
ul.nav-wizard {
  list-style-type: none;
  margin-left: 0;
}
/* for nav-wizard buttons */
ul.nav-wizard:first-child {
  counter-reset: tabslistcounter;
}
ul.nav-wizard > li {
  counter-increment: tabslistcounter;
}
ul.nav-wizard > li:before {
  content: counter(tabslistcounter) " ";
  font-weight: bold;
  float: left;
  padding: 9px 30px 0 0;
  color: white;
}
/* end for nav-wizard buttons */
ul.nav-wizard li{
	width: 150px;
	height: 57px;
	padding-left: 22px;
	display: block;
	float: left;
	font-weight: bold;
	font-family: Calibri;
}
ul.nav-wizard li a{ 
	color: grey;
}
ul.nav-wizard li a:visited, .ui-tabs-active a, .ui-state-visited a, ul.nav-wizard > li.ui-tabs-active:before {
	color: #212D78 !important;
}

.ui-state-default { 
    cursor: auto;
}
.ui-tabs-active{
	background:url('../css/images/ui-wizard-active.png') no-repeat  4px 6px !important;
	}
.ui-state-visited{
	background: url('../css/images/ui-wizard-visited.png') no-repeat  4px 6px !important;
}
.ui-state-custom-disabled{
	background: url("../css/images/ui-wizard-unVisited.png") 4px 6px no-repeat;
}
.ui-tabs-anchor{
	width: 99px;
	height: 57px;
	padding: 0px !important;
	text-decoration: none;
    display:inline-flex;
    pointer-events: none;
}

/* ------- STEP 2 --------- */
#newUserText{
	background: #F6F9F8;
	margin:0px 10px 0px 0px;
	padding: 16px;
}
.wStp2-label, .wStp2-text{
	display:inline;
}
.contextual-help{
	color:grey;
	display: block;
	font-style: italic;
}
.align-with-textField{
	margin-left: 305px;
	position: ralative;
	padding-bottom: 15px;
}
.wStp2-text{
	position relative;
	padding: 0 0 15px 5px;
}
#customerServiceText, #customerServiceLink{
	display: inline;
}

form#fields{
	margin: 15px 0;
}
#fields label{
	text-align: right;
	width: 286px;
	display: block;
	float: left;
	margin-right: 20px;
	padding-top: 4px;
	position: relative;
}

#fields input{
	width: 330px;
	height: 34px;
	padding: 5px;
	
}
.field{
	margin:0 auto 20px auto;
	clear: both;
	width: 815px;
}
.clear{
	clear: both;
}

.align-left-radio{
	float:left;
	text-align: left;
}
.info {
	background-image: url("../css/images/info.png") ; 
	display: inline-block;
	height: 16px;
	width: 16px;
}
