#date  { color: inherit; font-size: 10px; line-height: 11px; }
.txtbox      { color: inherit; padding: 4px; border: solid 1px  }
.tbrd_ltb    { color: inherit; font-size: 10px; line-height: 11px;   padding: 3px; border-style: solid; border-width: 1px 0px 1px 1px }
.tbrd_full { color: inherit; font-size: 10px; line-height: 11px;   padding: 3px; border: solid 1px  }
.tbrd_l { color: inherit; border-style: solid; border-width: 0px 0px 0px 1px }
.tbrd_r { color: inherit; border-style: solid; border-width: 0px 1px 0px 0px }
.tbrd_lr { color: inherit; border-style: solid; border-width: 0px 1px 0px 1px }
.tbrd_t { border-color: black; color: inherit; border-style: solid; border-width: 1px 0px 0px 0px }
.tbrd_lt { color: inherit; border-style: solid; border-width: 1px 0px 0px 1px }
.tbrd_ltr { color: inherit; border-style: solid; border-width: 1px 1px 0px 1px }
.tbrd_tr { color: inherit; border-style: solid; border-width: 1px 1px 0px 0px }
.tbrd_b { color: inherit; border-style: solid; border-width: 0px 0px 1px 0px }
.tbrd_lb { color: inherit; border-style: solid; border-width: 0px 0px 1px 1px }
.tbrd_br { color: inherit; border-style: solid; border-width: 0px 1px 1px 0px }
.tbrd_tb   { color: inherit; font-size: 10px; line-height: 11px;   padding: 3px; border-style: solid; border-width: 1px 0px 1px 0px }
.tbrd_trb   { color: inherit; font-size: 10px; line-height: 11px;   padding: 3px; border-style: solid; border-width: 1px 1px 1px 0px }
.disabledbutton   { color: #999999; font-weight: bold; font-size: 10px; line-height: 11px;   /*background-color: silver;*/ padding: 1px; border: solid 1px #999 }
.submitbutton       { color: inherit; font-weight: bold; font-size: 10px; line-height: 11px;   /*background-color: silver;*/ padding: 1px; border: solid 1px black }
.pagehead { color: inherit; font-weight: bold; font-size: 14px; line-height: 15px;   padding-top:2px; }
.sectionhead, .sectionhead_grey   { color: inherit; font-weight: bold; font-size: 11px; line-height: 15px;   }
.sectionhead_grey {/*background-color: #f5f5f5;*/ }
.sectionsubhead, .sectiontitle, .sectionsubhead_dim, .sectionsubhead_white, .sectionsubhead_grey, .plainsubhead   { color: inherit; font-weight: bold; font-size: 10px; line-height: 10px;   }
.plainsubhead { font-weight: normal }
.sectionsubhead_white { /*background-color:white;*/ }
.sectionsubhead_grey { /*background-color: #f5f5f5;*/ }
.sectionsubhead_dim {color: #696969;}
.sectiontitle {color: white; line-height: 14px;}
.mainfont, .mainfontbold, .errortext {   font-size:12px; font-weight:normal; color:inherit; }
.mainfontbold {font-weight:bold;}
.errorcolor, .errortext {color: red;}
.negativenumbercolor {color: red;}
.submain {   font-size:10px; font-weight:normal; color:inherit; }
.sectionsubheadb { color: inherit; font-weight: 600; font-size: 10px; line-height: 10px;   }
table.columndatatable {border:0; width: 100%; border-collapse: collapse; table-layout:fixed;} /* cellpadding: 3; cellspacing: 0; */
.columndata, .columndata_bold, .columndata_error, .columndata_white, .columndata_grey { font-size: 10px; line-height: 11px;   padding: 3px }
.columndata_bold { font-weight:bold; }
.columndata_error { color:red; }
.columndata { color: inherit; }
.columndata_white { color: inherit; /*background-color: white;*/ }
.columndata_grey { color: inherit; /*background-color: #f5f5f5;*/ }
.ltrow_color, .ltrow, .pltrow { color:inherit; /* background-color:#dae0d8 */}
.ltrow, .pltrow { padding: 3px ; font-size: 10px; line-height: 11px; }
.ltrow1_color, .ltrow1, .pltrow1 { color:inherit; /*background-color:#f0f8ff */}
.ltrow1, .pltrow1 { padding: 3px ; font-size: 10px; line-height: 11px; }
.ltrow2_color, .ltrow2, .pltrow2 { color:inherit; /* background-color:#f5f5f5 */} /* Alternate row color in reporting page*/
.ltrow2, .pltrow2 { padding: 3px ; font-size: 10px; line-height: 11px; } /* Alternate row color in reporting page*/
.ltrow3, .pltrow3 { padding: 3px ; font-size: 10px; line-height: 11px; color:inherit; /*background-color:#efeadb*/ } /* Alternate row color in admin section*/
.ltrow4_color, .ltrow4, .pltrow4 { color:inherit; /*background-color:#efeadb*/ }
.ltrow5 {color: inherit; /*background-color: white;*/ }
.ltrow6 { color:inherit; /*background-color:#dae0d8*/ }
.dkrow, .pdkrow { padding: 3px ; font-size: 10px; line-height: 11px; color:inherit; /*background-color:white*/ }
.adminBackground {/*background-color: #e6dbbb;*/ color: inherit;}
.whiteBackground {/*background-color: #FFFFFF*/}
.greenClayBackground{ /*background-color: #dae0d8*/}
.lightBackground {/*background-color: #f5f5f5;*/}
.corner_cellbg{background-image: url('/cb/web/multilang/grafx/corner_cellbg.gif')}
.reportsBackground {/*background-color: #f5f5f5;*/ color: inherit;}
.reportsBackground2 {/*background-color: #ffffff;*/ color: inherit;}
.reportsBackground3 {/*background-color: #BBBBBB;*/ color: inherit;}
.reportsBackground4 {/*background-color: #DDDDDD;*/ color: inherit;}
.pltrow { font-size:10px }
.pltrow1 { font-size:10px }
.pltrow2 { font-size:10px }
.pdkrow { font-size:10px }
.promptfont, .promptfontbold {
	 
	font-size:11px;
	font-weight:normal;
	color:inherit;
}

.promptfontbold {
	font-weight:bold;
}
hr.thingrayline {height: 1px; color: #999999; background: #999999; border-style: none}
.reportHeading { color: inherit; font-weight: bold; font-size: 11px; line-height: 15px;   }
.reportSectionHeading { color: inherit; font-weight: bold; font-size: 10px; line-height: 10px;   }
.reportColumnHeading { color: inherit; font-weight: bold; line-height: 10px;   }
.reportHeader { color: inherit; font-weight: bold; font-size: 10px; line-height: 10px;   }
.reportFooter { color: inherit; font-weight: bold; font-size: 10px; line-height: 10px;   }
.reportData { font-size: 10px; line-height: 11px;   padding: 3px }
.reportDataShaded { /*background-color: #DDDDDD;*/ }
.reportDataOnlineDisplayShaded { /*background-color: #f5f5f5;*/ }
.reportDataSubtotal { font-weight: bold; font-size: 10px; line-height: 10px;   padding: 3px }
.reportParagraph { font-size: 10px; line-height: 11px;   padding: 3px }
.sampleBankReportData { color: inherit;font-size: 10px; line-height: 11px;  font-face: Courier; padding: 3px }
.errorBackground { /*background-color: #EAEAEA*/}
.indent1 { padding-left: 2em; }
.indent2 { padding-left: 4em; }
.indent3 { padding-left: 6em; }
.indent4 { padding-left: 8em; }
.pswdindicatorborder {border: 1px black solid;}
.pswdindicatordefault {background: #F0F0F0; color: #B8B8B8;}
.pswdindicatortxt {   font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 10px; color: black}
.menuPrimaryText { font-weight: bold; font-size:1em; color: #FFFFFF; text-align:left; text-transform: capitalize; font-stretch: ultra-condensed; padding-top:2px;}
.menuLink { text-decoration: none; }
.logoStyle{ padding-bottom: 10px; }
.menuBackgroundDarkGreen, .menuBackgroundBlue, .menuBackgroundDarkBlue, .menuBackgroundOrange, .menuBackgroundDarkRed, .menuBackgroundPurple { height:35px; }
.menuBackgroundDarkGreen{ background:url(/cb/web/multilang/grafx/hdr_background.gif) }
.menuBackgroundBlue { background:url(/cb/web/multilang/grafx/cash/hdr_background.gif) }
.menuBackgroundDarkBlue { background:url(/cb/web/multilang/grafx/payments/hdr_background.gif) }
.menuBackgroundOrange { background:url(/cb/web/multilang/grafx/user/hdr_background.gif) }
.menuBackgroundPurple { background:url(/cb/web/multilang/grafx/account/hdr_background.gif)}
.menuBackgroundDarkRed { background:url(/cb/web/multilang/grafx/reports/hdr_background.gif) }
.menuBackgroundBrown { background:url(/cb/web/multilang/grafx/approvals/hdr_background.gif) }
.menuSecondaryText {  font-weight: bold; font-size: 1em; color:inherit; padding-left:2px; font-stretch: condensed; text-align:left; }
.menuSecondaryContainer{ text-decoration: none; vertical-align:middle; }
.arrowStyleActive {  background-position: 80% 50%; background-image: url("/cb/web/multilang/grafx/hdr_menu_arrow.gif"); background-repeat: no-repeat; vertical-align:middle; padding-right:10px; padding-left:8px; -moz-opacity:.50; opacity:.50; filter: alpha(opacity = 50); zoom:1; height:35px;}
.arrowStyleInactive { background-position:80% 50%; background-image: url("/cb/web/multilang/grafx/hdr_menu_arrow.gif"); background-repeat: no-repeat; vertical-align:middle; padding-right:10px; padding-left:8px; -moz-opacity:.0; opacity:0; filter: alpha(opacity = 0); zoom:1; height:35px;}
.required, .notrequired { color: #990000; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; text-decoration: none;  }
.localeButton { border-style: none; }
.instructions {   
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #333399; padding-left: 15px; padding-right: 5px ; padding-top: 8px; padding-bottom: 8px;}
.sectionheadDA  { color: red; font-weight: bold; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.sectionhead_greyDA  { color: #696565; font-weight: bold; font-size: 10px; line-height: 11px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; padding: 3px}
.columndataDA { color: red; font-size: 10px; line-height: 11px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; }
.sectionsubheadDA{ color: red; font-weight: bold; font-size: 10px; line-height: 10px; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.columndataDANote { color: blue; font-size: 10px; line-height: 11px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; }
.ffiHidden{ display: none; }
.ffiVisible{ display: block; }
.memo{ padding:0 0 0 30px; }
.unreadMessage{padding:0 0 0 5px;position:relative;}
.logo {
	width: 168px;
	height: 40px;
	float: left;
	margin: 3px 0px 0px 3px;
	background-image: url(../images/ffbanklogo.png);
	background-position: 0 0;
}
.dateLocale{
	margin-left: 65%;
	padding-top: 10px;
	color: white;		
}
.loginMessagePanel{
	margin: 2px 2px 2px 2px;	
	border-top: 1px solid #C5DBEC;	
	padding: 1px 1px 1px 1px;	
	font-size: 10px;
	width:95%;
		
}
.termsAndConditions{
	margin: 2px 2px 2px 2px;	
}
.permissionButtonAlign{
	position:relative;
	right:70px;
}
.cleanSpacer{
	padding:2px 2px 2px 2px;
	margin:2px 2px 2px 2px;
}

#ui-datepicker-div { display: none; }

@media print{
	.hiddenWhilePrinting{
		display:none;
	}
}