@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/arimo-regular-webfont.woff') format('woff'), /* Modern Browsers */
        url('../fonts/arimo-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/arimo-regular-webfont.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo-bold';
    src: url('../fonts/arimo-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/arimo-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/arimo-bold-webfont.woff') format('woff'), /* Modern Browsers */
        url('../fonts/arimo-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/arimo-bold-webfont.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

.container_wizard {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.input-svp-width{
width:auto!important;	
}

.input-svp-bank-width{
width:auto!important;	
}

.input-svp-own-credit-card-width{
width:auto!important;	
}

.input-svp-crediagil-width{
width:auto!important;	
}

@media (min-width: 768px) {
  .container_wizard {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container_wizard {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container_wizard {
    width: 1170px;
  }
}
@media (max-width: 1280px){
	.input-svp-crediagil-width{
		width:auto!important;
		max-width: 120%;	
	}
}
@media (max-width: 1024px){
	.input-svp-crediagil-width{
		width:auto!important;
		max-width: 105%;
		font-size:10.5px !important;	
	}
}
@media (max-width: 800px){
	.input-svp-width{
		width:auto!important;
		max-width: 95%;
		font-size:10.5px !important;
	}
	
	.input-svp-bank-width{
		width:auto!important;
		font-size:10.5px !important;
	}
	
	.input-svp-own-credit-card-width{
		width:auto!important;
		max-width: 190%;
		font-size:10.5px !important;
	}
	
	.input-svp-crediagil-width{
		width:auto!important;
		max-width: 95%;
		font-size:10.5px !important;	
	}
}

.container_wizard-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left:-5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
	padding: 0px !important;
	border: none !important;
}
.panel-primary {
  border-color: #428bca;
}

.panel-option {
	border-top: 1px solid #ddd !important;
	height: 40px;
}

.panel2{
top:0px; 
margin-bottom: 20px;
height:100%;
width:100%;
margin-top:-20px;
background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}




/**********************************ESTILOS AGREGADOS POR FEDERICO********************************************************/

#header {
	overflow: hidden !important;
	padding-bottom: 0px !important;
	border-bottom: 0px !important;
	background-color: #fff;
}

#right-menu {
	position: relative !important;
	height: 60% !important;
}

#publicidad {
	float: left !important;
	height: 20% !important;
	padding-bottom: 10px !important;
}

/*#notes {
	overflow: scroll;
}
*/
.clear {
	clear: both !important;
}

.margin5 {
	margin: 5px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
	margin: 0px !important;
}

.left-div {
	float: left !important;
	text-align: left !important;
	/*ver .leftContent*/
}

.right-div {
	float: right !important;
	text-align: right !important;
	/*ver .rightContent*/
}

.content-in {
	overflow: hidden !important;
	height: 1% !important;
	margin-bottom: 30px;
}

#main_tabs {
	background-color: #212D78 !important;
	height: 40px !important;
}

.normal-text {
	font-family: 'Arimo' !important;
	color: #333333 !important;
	font-size: 15px !important;
}

.title-text {
  font-size: 11px !important;
  color:#666666 !important;
  font-family: 'Arimo' !important;
  line-height: 16px;
  /*margin: 5px 0px 5px 0px !important;*/
}


.table-header
{
	background-color: #E2E9EB !important;
}


.panelPublicidad-menu  {
	background-image: url('../Bancolombia/images/imgPublicidad.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
	display: block;
	background-size: auto 100%;
}

.panel-menu {
	margin: 0px !important;
}

.search-button {
	background-image: url("../Bancolombia/images/lupa.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	width: 25px;
	margin: 1px 3px;
}

.search-button-selected {
	background-image: url("../Bancolombia/images/lupaHover.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	width: 25px;
	margin: 1px 3px;
}

.search-button:HOVER {
	background-image: url("../Bancolombia/images/lupaHover.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	width: 25px;
	margin: 1px 3px;
}

.save-button {
	background-image: url("../Bancolombia/images/guardar.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	width: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.save-button:HOVER {
	background-image: url("../Bancolombia/images/guardarHover.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	width: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.extract-button {
	background-image: url("../Bancolombia/images/extracto.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.extract-button:HOVER {
	background-image: url("../Bancolombia/images/extractoHover.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.block-button {
	background-image: url("../Bancolombia/images/bloquear.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.block-button:HOVER {
	background-image: url("../Bancolombia/images/bloquearHover.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.payment-button {
	background-image: url("../Bancolombia/images/pagar.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.payment-button:HOVER {
	background-image: url("../Bancolombia/images/pagarHover.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.update-alert-button {
	background-image: url("../Bancolombia/images/ActualizarDatos.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.update-alert-button:HOVER {
	background-image: url("../Bancolombia/images/ActualizarDatos_Hover.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.cancel-alert-button {
	background-image: url("../Bancolombia/images/CancelarServicio.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.cancel-alert-button:HOVER {
	background-image: url("../Bancolombia/images/CancelarServicioHover.png") !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 25px;
	margin: 1px 3px;
	padding: 1px 0px 0px 15px;
}

.button-text {
	padding: 0px 10px;
	font-weight: bold;
  	font-family: 'Arimo' !important;
  	cursor: pointer;
}

/*a {
	font-family: 'Arimo' !important;
	outline: 0px !important;
}*/

button {
	outline: 0px !important;
}

/*****Clases bootstrap sobreescritas*****/
.nav > li {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.nav-pills>li.active>a {
	color: #212D78 !important;
	background-color: transparent !important;
}

.nav-pills>li.active>a:hover {
	color: #212D78 !important;
	background-color: #transparent !important;
}

.nav-pills>li.active>a:focus {
	color: #212D78 !important;
	background-color: transparent !important;
}

.nav>li>a:hover {
	background-color: transparent !important;
}

.nav>li>a:focus {
	background-color: transparent !important;
}


.nav-pills>li>a {
	border-radius: 0px !important;
}

.nav-pills>li+li {
	margin: 0px !important;
}

.nav>li>a {
	color: #ffffff !important;
	text-decoration: none !important;
	font-size: 17px !important;
	padding: 15px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.tab-content {
	background-color: #F0F4F5;
	height: auto;
	min-height: 40px;
	float: left;
	width: 100%;
}

.tab-content>div>ul>li>a {
	color: #212D78 !important;
	text-decoration: none !important;
	font-size: 16px !important;
	padding-bottom: 9px;
	padding-top: 9px;
}

.panel-group .panel {
	overflow: visible !important;
	border-color: #ddd !important;
	border-radius: 0px !important;
}

.panel-default > .panel-heading {
	background-image: none !important;
	background-color: #E2E9EB !important;
}

.panel-default > .panel-heading a {
	color:  #333 !important;
}

.panel-menu {
	margin-bottom: 10px !important;
}

.ui-jqgrid-btable{
	width: 100% !important;	
}

.ui-jqgrid-view{
	width: 100% !important;
}

/*********************************FIN ESTILOS FEDERICO***************************************************************************************/

/********************************ESTILOS PARA DIV COMO TABLAS******************************/
.content-table{
display: table;
width: 97%;
}
.content-tr{
display: table-row;
}
.content-td{
display: table-cell;
}
/********************************FIN ESTILOS PARA DIV COMO TABLAS******************************/


.pencil  {
  float:left;
  overflow:hidden;
  text-overflow:ellipsis;
  padding-top:3px;
  padding-bottom: 3px
}


.infoSymbol{
  background-image: url("../Bancolombia/images/info.png");
  background-repeat:no-repeat;
  height: 10px;
  margin-top: 10px;
  padding-left: 35px;
  padding-bottom: 35px;
}

.save-button-off{
	background-image: url('../Bancolombia/images/Guardar.png') !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 100%;
	width: 100%;
	margin: 1px 3px;
}

.mail-button{
	background-image: url('../Bancolombia/images/enviar.png') !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 100%;
	width: 100%;
	margin: 1px 3px;
}
.mail-button:HOVER{
	background-image: url('../Bancolombia/images/enviarHover.png') !important;
	background-repeat: no-repeat;
	background-size: 23px 23px;
	float: right;
	height: 100%;
	width: 100%;
	margin: 1px 3px;
}


/*-------media query ancho segun resolucion----------*/
/*----Se comenta la siguiente media Query debido a que el tamano de las colu 
no deben variar en el nuevo formato. Estas clases correspondian al contenido, 
menu derecho y body, respectivamente. Se reemplazan por las default de bootstrap
directamente en el index.jsp-----*/

/*@media all and (min-width: 1150px)  
	.colu-9 {
		width: 75% !important;
		padding: 0px 15px !important;
	}
	.colu-3 {
		width: 25% !important;
		padding: 0px 5px !important;
	}
	.container {
	    width: 1145px !important;
	    padding: 0px 15px !important;
	}

@media all and (max-width: 1149px) { 
	.colu-10 {
		width: 83.3333% !important;
		padding: 0px !important;
	}
	.colu-2 {
		width: 16.6667% !important;
		padding: 0px 5px !important;
	}
	.container {
   	 	width: 1024px !important;
    	padding: 0px 14px !important;
	}
}*/
	
/*Clase container para body*/
@media (min-width:1080px){
	.container_body {
		margin: 0px 30px !important;
	}
}


/*Comportamiento menu*/

.firstLevelMenu .selected.active, .secondLevelMenu .selected.active,
.firstLevelMenu .selected, .secondLevelMenu .selected {
	background-color: #FCDB44 !important;
}

.firstLevelMenu .active,
.secondLevelMenu li a:hover,
.secondLevelMenu li:hover  {
	background-color: #FFFFCC;
}

.firstLevelMenu .selected a {
	color: #212D78 !important;
}

#dvLoading{
       background:url('../../../web/css/Bancolombia/images/loading-dripcircle.gif') no-repeat center 0;
       background-color: rgba(0, 0, 0, 0, 0);
       background-size:60px 60px;
       height: 100%;
       min-height: 100px;
       width: 100%;
       position: absolute;
       z-index: 1000;
       left: 0;
       top: 0;
       margin: 0 auto;
       display:none;
}

.left-arrow {
	background-image: url("../Bancolombia/images/Felcha1.png");
	float: left;
	height: 11px;
	width: 7px;
	margin: 14px 10px 15px;
}

.arrowOpen2_Icon,
.left-arrow_Icon {
	height: 11px;
	width: 7px;
	margin: 14px 10px 15px;
}

.panel-label {
    margin: 10px 0px;
}

.requiredSymbol{
	font-size: 20px !important;
	color: #CC0033 !important;
}

.acordionTitle {
	font-family: 'Arimo' !important;
	font-size: 14px !important;
	color: #212D78 !important;
}

.arrowClosed2{
	background-image: url("../Bancolombia/images/Felcha1.png");
  	background-repeat:no-repeat;
  	float: left;
  	height: 12px;
  	margin-top: 5px;
  	padding-right: 20px;
	
}

.arrowOpen2{
	background-image: url("../Bancolombia/images/Felcha3.png");
  	background-repeat:no-repeat;
  	float: left;
  	height: 12px;
  	margin-top: 5px;
  	padding-right: 20px;
	
}

.title-land-label {
	color: #00448C !important;
	font-family: Arimo !important;
	font-size: 18px !important;
}

.actDatos-label {
    color: #00448C !important;
    font-family: Arimo !important;
    font-size: 16px !important;
}

.pencil-button:HOVER {
	background-image: url("../Bancolombia/images/Icono-Lapiz_Hover.png") !important;
	background-repeat: no-repeat;
	background-size: 26px 26px;
	border:0;
	float: right;
	background-color:transparent;
	height: 26px;
	width: 26px;
}

.pencil-button {
	background-image: url("../Bancolombia/images/Icono-Lapiz.png") !important;
	background-repeat: no-repeat;
	background-size: 26px 26px;
	border:0;
	float: right;
	background-color:transparent;
	height: 26px;
	width: 26px;
}

#groupColumnDetail1.col-xs-7, #groupColumnDetail1.col-sm-7, #groupColumnDetail1.col-md-7, #payment-container-id.col-xs-7, #payment-container-id.col-sm-7, #payment-container-id.col-md-7, #cp-container-id.col-xs-7, #cp-container-id.col-sm-7, #cp-container-id.col-md-7 {
	padding-right: 2px;
}
#general-group-detail-container.col-xs-5, #general-group-detail-container.col-sm-5, #general-group-detail-container.col-md-5, #general-detail-container.col-xs-5, #general-detail-container.col-sm-5, #general-detail-container.col-md-5, #messageCenterLandingBox.col-xs-5, #messageCenterLandingBox.col-sm-5, #messageCenterLandingBox.col-md-5{
	padding-left: 3px;
}

/*Colocar primera linea con negrita textarea*/
.txtArea-bold::first-line{
 font-weight: bold ;
 font-family: 'Arimo' !important;
}

/*styles Mua terminos y condiciones*/
.copyTerminos-mua {
  padding-top: 5px !important;
  padding-bottom: 10px !important;

}

.modal-header-mua {
    background: #212d78 none repeat scroll 0 0 !important;
    color: #ffffff !important;
}

.modal-content-mua {
    border-radius: 0 !important;
    box-shadow: none !important;
}
.modal-footer-mua {
    border-top: medium none !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}
/*Implementacion CIC*/
.noleido {
	font-family: 'Arimo';
	font-weight: bold;
	color: #333333;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px
}

.leido {
	font-family: 'Arimo';
	font-weight: normal;
	color: #333333;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px
}
#ContenedorMensaje {
    width: 100%;
    position: relative;
    margin-right: auto;
    margin-left: 1px;
    margin-top: 10px;
    border: 2px solid #F0F4F5;
    border-top: none;
}
#ContenedorMensaje #center {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	margin-top: -10px;
	padding-top: 0px
}
.fontsize800 {
    font-size: 14px;
    color: #333333 !important;
}
#ContenedorMensaje #down {
    height: 32px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    background-color: #F0F4F5;
    color: #333333;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 14px;
}
#down a {
	color: #333333;
	text-decoration: none
}
.signo-mas {
    background-image: url("../Bancolombia/images/SignoMas.png") !important;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 22px 22px;
    top: 2px;
    position: relative;
    height: 22px;
    width: 22px;
    float: right;
    display: inline-block;
    margin-left: 5px;
}


/* Styles Header */

.imgLogoItem{
	height: 38px;
    margin-top: 10px;
	width: 163px;
}
.page-header {
    padding-bottom: 0px !important;;
    border-bottom: 0px !important;
    margin: 0px 0 0px !important;
    height: 120px !important;
}

.adminItems-Labels{
	display: block !important;
    padding: 0px;
    margin: 0px;
}

.adminItems-Labels > p{
	margin: 0px !important;
}

.adminItems-Labels > p:last-child{
	font-size: 10px !important;
	margin-top: -5px !important;
}

.adminItems-Icons{
	display:block;
	font-size: 24px;
	margin-bottom: 4px;
}

/* List More Services */


.nav .nav_Itemlist .itemsIcons-Labels{
	color: #00448C !important;
	font-family: Arimo !important;
	font-size: 12px !important;
	height: 66px !important;
	padding: 10px 0px 0px 0px !important;
	text-align: center;
	width: 80px !important;
}

.nav .nav_Itemlist .itemsIcons-Labels:hover{
	background-color: #00448C !important;
	color: #FFFFFF !important;
}

.nav .itemLogout{
	background-color: #00448C !important;
}

.nav .itemLogout .itemsIcons-LabelsLogout{
	color:#ffffff !important;
	font-family: Arimo !important;
	font-size: 12px !important;
	padding-top: 10px !important;
	text-align: center;
	width: 80px !important;
    height: 66px !important;
}

.nav .itemsIcons-LabelsLogout:hover{
	background-color: #4669A4 !important;
}

.timeText{
	display: inline-block;
	width: 120px;
}

#lastIn .lastVisitedText{
	margin-left: 0px;
}


/* Panel Lateral Derecho Accesos Rapidos */
.contect_FastAccess{
	margin: 15px 15px 15px 15px;
}

/* Cambio hoja de estilos 4.1
.contect_FastAccess_Item,
.contect_FastAccess_Item:hover{
	color: #212D78 !important;
}*/

.contect_FastAccess_icon{
	font-size: 24px;
	float: left;
    width: 20%;
    top: 5px;
}

.contect_FastAccess_Text{
	font-family: Arimo !important;
	font-size: 12px;
	float: left;
	width: 80%;
}

.contect_FastAccess_Text_One{
	font-family: Arimo !important;
	font-size: 12px;
	line-height: 24px;
	float: left;
	width: 80%;
}

/* Panel General */

.panel_general {
    background-color: #fff;
    border: 1px solid #A6B3D1;
}

.panel_general .title-panel-label{
	background-color: #788FB9;
	font-family: Arimo-bold !important;
	padding: 10px;
	width: 100%;
}

.panel_general .title-panel-label h1{
    color: #fff !important;
	font-family:Arimo-bold !important;
    font-size: 16px !important;
    font-weight: normal !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding:0px !important
}

.panel_general .title-panel-label h4{
    color: white !important;
    font-size: 16px !important;
	font-family:Arimo !important;
}

.panel_general .subtitle-land-label{
	background-color: #D2D9E8;
	padding-left:5px;
	width: 100%;
	min-height:28px;
}


.panel_general .subtitle-land-label h4{
    color: #333;
     font-family:Arimo !important;
    font-size: 12px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 8px 0px 8px 5px !important;
	}

.panel_general > .title-panel-label a {
	font-family: Arimo-bold !important;
    color: #ffffff !important;
}

.billsCredits_Items{
    font-family: 'Arimo' !important;
    font-size: 14px !important;
    margin-left: 5px !important;
} 

.panel_display{
	display: inline-block;
}

.panel_ending{
	border-top: 1px solid #ddd !important;
    margin-left: 2%;
    margin-top: 5px;
    padding: 10px 0px !important;
    width: 96%;
}

.panel_ending_lending{
    background-color: #FFFFFF !important;
	border-top: 1px solid #ddd !important;
    margin-left: 2%;
    width: 96%;
    padding: 0px !important;
    margin-top: 0px;
}

.leftarrow_icon{
	margin: 1px 3px 5px;
    float: left;
    width: 7px;
}

.panel_landing_left_no_button{
	width: 60%;
	float: left;
}

.panel_landing_left_button{
	width: 60%;
	float: left;
	margin-top: 10px;
	margin-bottom: 7px;
}

.panel_landing_right_no_button{
	width: 40%;
	float: right;
}

.panel_landing_right_button{
	width: 40%;
	float: right;
	margin-top: 10px;
}

.panel_query_account_grid_left{
	width:50%;
	padding-left: 15px !important;
}

.panel_query_account_grid_center{
	width:30%;
	text-align:left;
}

.panel_query_account_grid_right{
	width:20%;
	text-align:right;
	padding-right:15px;
}

.panel_query_account_grid_right_pay{
	font-family: Arimo-bold !important;
	font-size: 12px;
	margin-left: 7px;
	color: #00448C !important;
}

.modal-dialog-center-mua {
    margin-top: 14%;
}

.btn-historyPayment{
	background-color: #00448C !important;
    display: inline-block !important;
    color: white !important;
    padding: 5px 30px 5px 30px !important;
    font-family: Arimo !important;
}

.btn-historyPayment:hover{
	background-color: #4669A4 !important;
	display: inline-block !important;
    color: white !important;
    padding: 5px 30px 5px 30px !important;
    font-family: Arimo !important;
}

.message-history-container {
	background-color: #D2D9E8;
	padding:5px;
}
