/* Add GRID styles here */

.ui-jqgrid { 
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid #E2E9EB;
    border-left: 0px;
    position:relative;
    font-size:12px !important;
}

.ui-jqgrid tr.jqgrow, 
.ui-jqgrid tr.jqgrow,
.ui-jqgrid tr.jqgrow td, 
.ui-jqgrid tr.jqgrow td .ui-widget-content {
    border: 0px;
}

.ui-jqgrid tr.ui-row-ltr td {
    border: 0px !important;
}

.ui-state-zebra {
	/*background: #e2e9eb;*/
	background-color: rgba(226,233,235,.5);
	background-color: filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e2e9eb', endColorstr='#e2e9eb'); /* IE */
}

.ui-jqgrid tr.ui-state-zebra td {
   /*background: #e2e9eb;*/
	background-color: #F0F4F5;/*EL VALOR ACTUAL NO TIENE TRANSPARENCIA: el valor que estaba era rgba(226,233,235,.5). Lo cambio porque presentaba un bug en la tabla de pagos de tarjetas de credito.*/
	background-color: filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e2e9eb', endColorstr='#e2e9eb'); /* IE */
}

.ui-th-column,
.ui-jqgrid 
.ui-jqgrid-htable th.ui-th-column {
    color: #202c78;
    background: #e2e9eb;
    font-weight: normal;
    background-color: #ffffff
}

.ui-jqgrid-pager {
    background: #666666 url(images/bg35.png) 50% 50% repeat-x !important;
}

.ui-jqgrid .ui-jqgrid-htable th div {
	height: 28px !important;
	background-color: #e2e9eb;
	font-size: 14px;
    margin: 0px 1px;
    padding-top: 4px;
}

.ui-datepicker-trigger {
    margin-bottom: 0px;
    margin-left: 2px;
}

.ui-jqgrid tr.ui-row-ltr td{
	text-align:left;
	border-right-width:1px;
	border-right-color:inherit;
	border-right-style:none !important;
}

.ui-jqgrid tr.ui-row-rtl td{
	text-align:right;
	border-left-width:1px;
	border-left-color:inherit;
	border-left-style:none !important;
}
/*
.ui-state-highlight, 
.ui-widget-content 
.ui-state-highlight, 
.ui-state-highlight tr.ui-state-highlight tr
{
    background-color: #fbec88 !important;
    color: #363636 !important;
    border-color: #fbec88 !important;
}

.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-state-focus,
.ui-state-hover tr.ui-state-hover tr{ 
	background-color: #fbec88 !important;
	color: #363636 !important;
	border-color: #fbec88 !important;
}*/


/*.ui-icon-desc {
    background-size: 50% auto !important;
}

.ui-jqgrid .ui-icon-desc {
    width: 20px !important;
}

.ui-jqgrid .ui-icon-asc {
    margin-top: -2px !important;
    height: 12px !important;
    padding-left: 3.5em !important;
}

.ui-icon-triangle-1-n {
    background-position: 9px 6px !important;
    background-size: 20% !important;
    margin-top: 10px !important;
}*/

/*.ui-icon-triangle-1-s {
    background-position: -62px -30px  !important;
    background-image: url(../../Bancolombia/images/themeroller-icon-set-vector-12px-2010-06-02.png) !important;
}

.ui-icon-triangle-1-n {
    background-position: -18px -32px !important;
    background-image: url(../../Bancolombia/images/themeroller-icon-set-vector-12px-2010-06-02.png) !important;
}*/

.ui-icon-triangle-1-n {
    background-position: 0 -16px !important;
    background-image: url(../../Bancolombia/images/ui-icons_black_256x240.png) !important;
    margin-top: 0px !important;
    height: 12px !important;
}

.ui-icon-triangle-1-s {
    background-position: -65px -16px !important;
    background-image: url(../../Bancolombia/images/ui-icons_black_256x240.png) !important;
    margin-top: 6px !important;
    height: 12px !important;
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 22px !important;
    padding: 0px !important;
}

.ui-datepicker td span, 
.ui-datepicker td a {
    /*color: rgba(101, 3, 3, 1) !important;*/
    color: #212D78 !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    overflow: hidden !important; 
}

/*.ui-jqgrid .ui-jqgrid-sortable {
    cursor: default !important; 
}*/

.ui-jqgrid a{
    font-family: 'Arimo' !important; 
}

/*.ui-jqgrid .selected-row, div.ui-jqgrid .selected-row td {
    background: #FCDB44 !important;
}


.ui-jqgrid .ui-state-hover, div.ui-jqgrid .ui-state-hover td {
    background: #FFFFCC;
}

.grid-hover, .grid-hover td{
    background: #FFFFCC !important;
}

.ui-jqgrid .ui-state-highlight, .ui-jqgrid .ui-state-highlight td{
    background: #FCDB44 !important;
}*/

.grid-container-totals .ui-jqgrid tr.jqgrow td {
    background-color: #E1E3E5;
	color: #333333 !important;
	font-family: 'Arimo' !important;
	font-weight: bold !important;
}
.grid-container-totals-normal .ui-jqgrid tr.jqgrow td {
    background-color: #E1E3E5;
	color: #333333 !important;
	font-family: 'Arimo' !important;
	font-weight: bold !important;
}

.grid-hover-row, .grid-hover-row td{
    background: #FFFFCC !important;
}

.grid-selected-row, .grid-selected-row td{
    background: #FCDB44 !important;
}

.ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
}
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{
	white-space:normal !important;
}

.ui-jqgrid .ui-jqgrid-htable th{
	height:100% !important;
}

.ui-jqgrid .ui-jqgrid-htable th div{
	height:100% !important;
	padding-top:7px !important;
}
.ui-jqgrid-labels{
	height: 28px !important;
}
@media all{
	.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{
		background-color: #e2e9eb !important;
		border-style: solid !important;
		border-right-color: #ffffff;
		border-left-color: #e2e9eb !important;
	}
}
.ui-jqgrid .ui-th-div-ie{
	white-space:normal !important;
}

/*RECORDAR APLICAR EL MISMO CAMBIO EN ui-patch-ie8.css!!!