.Hero--home {
    height: 100vh;
    min-height: 730px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    background-image: url(../../../img/bg/bh-hero-40897e20.jpg);
    background-size: cover;
    background: radial-gradient(circle at right bottom, #24426e 0%, #09111c 36.72%, #24426e 100%) no-repeat;
}