<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0055)https://mpsite.medplus.com.co/EstadoCuentaMP/login.aspx -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>
	Oficina Virtual - Portal Empresarial
</title>

stylesheet_link_tag "style"
# => 

<link href="/assets/style.css" media="screen" rel="stylesheet" />
<link href="/assets/lightbox.css" media="screen" rel="stylesheet" />
<link href="/assets/font.css" media="screen" rel="stylesheet" />
<link href="/assets/bootstrap.css" media="screen" rel="stylesheet" />

<script type="text/javascript" src="/assets/jquery-3.3.1.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$( "#ingresar" ).click(function() {
  			
  			var Usuario = $( "#txtUsuario" ).val();
  			var Clave =$( "#txtPassword" ).val()
  			var control = false;
  			if( (validarEmail(Usuario)) && (validarClave(Clave)) ){
	  			var url ="http://localhost:3000/api/login2/"
				  $.ajax({
	    		    url: url,
	        		type: "GET",
	        		crossDomain: true,
	        		async: true,
	        		data: { pcorreo: Usuario, pclave : Clave},
	        		cache:false,
	        		dataType: 'json',
	        		success: function (data) {
	        			    //window.open("URL","http://localhost:3000/twallets_cs/");
	        			    //alert("Todo esta correcto "+data.responseText);
	        				//Redireccionar
	            			Ingresar();

	        		},
	        		error: function (data) {
	           			alert("Error"+data.responseText);
	        		},
	   			 });
			}else{
				alert ('Correo o Clave incorrecto ');
			}

  		
		});

		$( "#volver" ).click(function() {
  				$( "#txtUsuario" ).val('');
  				$( "#txtPassword" ).val('');

		});

	 });
	function validarEmail(valor) {
			var regex = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  			if (regex.test(valor)){
   				return true;
  			} else {
   				return false;
  			}
	}
	function validarClave(valor){
		if(valor.length <4){
			return false;
		}else{
			return true;
		}

	}

	function Ingresar(){
		 document.location.href ="http://localhost:3000/main/menu";
		
	}; 
	function Volver(){
			alert('Volver');
	}; 
</script>


<form>

<div id="container">
    <!--
	<div id="logo" style="border-width:0px;">
	    <%= link_to image_tag('logo.jpg') %>
  	</div><br> -->
	
    <div id="barra">
   	  
   	  <table border="0" width="99%">
   	  <tbody><tr>
   	  <td style="width: 50%;text-align: left;">
   	    </td>
        <td style="width: 50%;text-align: right;"> 
        </td>
        </tr>
   	  </tbody></table>    
         
          
    </div> 
     <div class="contenido"> 
         

    <div id="contenidoGrande" style="left: 0px; top: 0px;">   
     <%= link_to image_tag('oficina-virtual.png') %>
  

     <center>
         </center>
    <center>
          Por favor ingresa los siguientes datos:<br>

          <span id="ctl00_ContenidoInterno_lblMensaje" style="color:#1C78BB;font-size:12px;font-weight:bold;">
            
          </span><br>
          <span id="ctl00_ContenidoInterno_RequiredFieldValidator1" style="color:Red;font-size:12px;font-weight:bold;visibility:hidden;">Por favor ingrese su direcci칩n de correo electr칩nico registrado.</span> 
        <br>
    
     
          <table class="table table-bordered table-condensed" style="width: 487px;">
              <tbody><tr><td colspan="2" style="text-align: center"><%= link_to image_tag('candado.png') %></td></tr>
              
              <tr>
              
                  <td class="tdColumnaForm" style="background-color: #000; color: white;">
                      Email:</td>
                  <td>
                <input id="txtUsuario" name="txtUsuario" type="text" maxlength="80" id="ctl00_ContenidoInterno_txtUsuario" style="height:30px;width:250px;"></td>
              </tr>
              <tr>
                  <td class="tdColumnaForm" style="background-color: #000; color: white">
                     Contrase침a:</td>
                  <td style="width: 224px">
                  <input id="txtPassword"  name="txtPassword" type="password" id="ctl00_ContenidoInterno_txtPassword" style="height:30px;width:250px;"></td>
			  </tr>
              <tr>
                  <td align="center" style="border-top-style: none; border-right-style: none; border-left-style: none; border-bottom-style: none;" bordercolor="#f0f2ef" colspan="2">
                      <br>
                      <input id="ingresar" onmouseover="this.src='/assets/ingresarneg.png'" onmouseout="this.src='/assets/ingresarpos.png'" onclick="this.src='/assets/ingresarpos.png'  " 

                      type="image"  src="/assets/ingresarpos.png" style="background-color:Transparent;border-width:0px;">



                      <input id="volver" onmouseover="this.src='/assets/volverneg.png'" onmouseout="this.src='/assets/volverpos.png';"
                      onclick="this.src='/assets/volverpos.png' Volver();" 
                      type="image" src="/assets/volverpos.png" style="background-color:Transparent;border-width:0px;">
                      <br>
                      <br>
                      <a id="ctl00_ContenidoInterno_LinkButton1" href="" style="font-size:13px;">Olvido su Contrase침a</a><br>
                      <br>  
                      
		      </td>
 		      </tr>
          </tbody></table>
              <br>
    </center>
           <br>
      
                     
</div>
     
     </div>   
</div>



</form>


</body></html>